<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Book form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Book</h1>
	<form action="#" th:action="@{/savebook}" th:object="${book}" method="post">
		<p>
			Author: <input type="text" th:field="*{author}" />
			<span style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
		</p>
		<p>
			Title: <input type="text" th:field="*{title}" />
			<span style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</p>
		<p>
			ISBN: <input type="text" th:field="*{isbn}" placeholder="example: 123-456-789-0123" />
			<span style="color:red" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
		</p>
		<p>
			Price: <input type="text" th:field="*{price}" />
			<span style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
		</p>
		<p>
			Published: <input type="text" th:field="*{published}" />
			<span style="color:red" th:if="${#fields.hasErrors('published')}" th:errors="*{published}"></span>
		</p>

		<label for="category">Category</label>
		<select id="category" th:field="*{category}">
			<option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
			</option>
		</select>

		<div style="clear: both; display: block; height: 10px;"></div>

		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
		<a href="/books" class="btn btn-primary">Show existing books</a>
	</form>


</body>

</html>