<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Categories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <h1>Categories</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Edit</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categorys}">
                    <td th:text="${category.name}">name</td>
                    <td th:text="${category.categoryId}">id</td>
                    <td><a th:href="@{/editCategory/{id}(id=${category.categoryId})}" class="btn btn-xs btn-warning">Edit</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/deletecategory/{id}(id=${category.categoryId})}" class="btn btn-xs btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/addcategory" class="btn btn-primary">Add new category</a>
        <a href="/newbook" class="btn btn-primary">Add new book</a>
        <a href="/books" class="btn btn-primary">Show existing books</a>
    </div>
</body>
</html>
